<div><img src="{{heroImageUrl}}"></div>
<div><img [src]="villainImageUrl"></div>
<hr>

<!--
  이 두 줄은 Angular에서 경고 메시지를 출력합니다.
  경고: 위험한 HTML 요소는 Angular가 무효화시킵니다. (http://g.co/ng/security#xss 를 참고하세요).
 -->
 <p><span>"{{evilTitle}}" is the <i>interpolated</i> evil title.</span></p>
 <p>"<span [innerHTML]="evilTitle"></span>" is the <i>property bound</i> evil title.</p>
 <hr>

 <table border=1>
  <!--  표현식이 실행된 결과는 colspan=2 입니다. -->
  <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>
  <!-- ERROR: 엘리먼트에는 `colspan` 프로퍼티가 없습니다!
    <tr><td colspan="{{1 + 1}}">Three-Four</td></tr>
  -->
  <tr><td>Five</td><td>Six</td></tr>
</table>
<hr>

<div class="bad curly special"
     [class]="badCurly">Bad curly</div>

<!-- 프로퍼티로 "special" 클래스 토글하기 -->
<div [class.special]="isSpecial">The class binding is special</div>

<!-- 클래스 프로퍼티로 `class.special` 클래스 바인딩하기 -->
<div class="special"
     [class.special]="!isSpecial">This one is not so special</div>

<!-- 스타일이 하나라면 스타일 바인딩 -->
<button [style.color]="isSpecial ? 'red': 'green'">Red</button>
<button [style.background-color]="canSave ? 'cyan': 'grey'" >Save</button>
<button [style.font-size.em]="isSpecial ? 3 : 1" >Big</button>
<button [style.font-size.%]="!isSpecial ? 150 : 50" >Small</button>
<hr>

<!-- 질문 -->
<!-- 여러 개의 인라인 스타일을 한 번에 지정하려면 NgStyle 디렉티브 -->
<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>
<hr>
<!-- 질문 -->
<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>
<hr>

<!-- sizer -->
<div [style.font-size.px]="fontSizePx">Resizable Text</div>
<!-- (one-way-1) -->
<app-sizer [size]="fontSizePx"></app-sizer>
<!-- (two-way-1) -->
<app-sizer [(size)]="fontSizePx"></app-sizer>
<!-- (two-way-2) -->
<app-sizer  [size]="fontSizePx" 
            (sizeChange)="fontSizePx=$event">
</app-sizer>
<!-- /sizer -->

